{% extends "base.html" %}

{% block content %}
  <div style="padding: 15px">
    <h1 style="font-size: 50px;">Screenings for {{ film.title }}</h1>

    <br>

    <h1 style="font-size: 35px">Add Screening</h1>
    <form method="POST" action="" name="addScreeningForm" style="opacity:1">
        {{ form.hidden_tag() }}
        <div style="padding: 5px">Screen ID: {{form.screen_id}}</div>
        <div style="padding: 5px">Date and Time: {{form.date_time(placeholder='d/m/y h:m')}}</div>
        <div style="padding: 5px">Price: {{form.price}}</div>
        <input style="font-size: 15px;" class="btn btn-dark" type="submit" value="Add Screening">
    </form>

    <br>

    <h1 style="font-size: 35px">All Screenings</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Screen Number</th>
            <th>Date and Time</th>
            <th>Pricing (£)</th>
            <th>Actions</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for screening in screenings %}
            <tr>
            <td>{{screening.screen_id}}</td>
            <td>{{ screening.date_time}}</td>
            <td>Regular: &pound{{ '{0:.2f}'.format(screening.price/100) }}<small><br/>Child: &pound{{ '{0:.2f}'.format(calc_price(screening.price/100,1)) }}<br/>Senior: &pound{{ '{0:.2f}'.format(calc_price(screening.price/100,2)) }}<br/>Disabled: &pound{{ '{0:.2f}'.format(calc_price(screening.price/100,3)) }}</small></td>
                <td><a href="/removeScreening/{{film.id}}/{{screening.id}}"><button type="button" class="btn btn-dark">❌ Remove Screening</button></a></br></br><button type="button" class="btn btn-dark" id="changePricing" data-arg1="{{ screening.id }}">Change Pricing</button></td>
                <td><a href="/cash_payment/{{screening.id}}"><button type="button" class="btn btn-warning">💵 Process a cash payment</button></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
<script>
    $( "#changePricing" ).click(function() {
        let arg1 = event.target.getAttribute('data-arg1');

        var promtPricing = prompt("Please enter the standard price of the ticket in £s. Please note that all subsequent non-standard prices will be updated");
        if (promtPricing != null) {
            window.location.replace('/update_price/'+ arg1 + '/' + promtPricing)

        }


    })
</script>
{% endblock %}