<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <style>
       .navbar-custom .navbar-nav .nav-link {
          color: #f1d618;
        }

       .navbar-custom .nav-item.active .nav-link,
        .navbar-custom .nav-item:hover .nav-link {
          color: #ffffff;
        }
    </style>
  </head>
  <body>
    <!--A naviagtion bar for the top of the site (incomplete)-->
    <nav class="navbar navbar-expand-lg navbar-custom bg-dark static-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="https://svgshare.com/i/USJ.svg" height=60>
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">What's On</a>
        </li>
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/account">Account</a>
          </li>
          {% if current_user.isAdmin %}
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/earnings">View Earnings</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
        {% endif %}
      </ul>


    </div>
  </div>
</nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>

  {% block content %}{% endblock %}
  </body>
</html>
