{% extends "base.html" %}

{% block content %}
  <head>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <!--chart.js plugin-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  </head>

  <body>

    <div style="padding: 1vw">
      <h1 style="font-size: 2.2vw;">Earnings</h1>
      <br>
      <div style="font-size: 1.4vw;">Total revenue to date: 
          £{{ "%.2f" | format(totalEarnings) }}
      </div>
      <canvas style="padding-left: 0.1vw; max-width: 90vw; max-height: 30vw;" id="totalLineGraph" width="1900" height="700"></canvas>
      <div style="padding-top: 1.5vw"></div>

      <h1 style="font-size: 1.4vw;">Total tickets sold in the past week: {{ ticketsSold }}</h1>
      <canvas style="padding-left: 0.1vw; max-width: 65vw; max-height: 30vw;" id="ticketsBarGraph" width="1300" height="650"></canvas>      
      <div style="padding-top: 1.5vw"></div>

      <div>
        <h1 style="font-size: 1.4vw;">Revenue for a specific time frame:</h1>
        <form method="POST" action="" name="earningsForm" style="opacity:1">
          {{ earningsForm.hidden_tag() }}
          Start date: {{ earningsForm.startDate }}
          End date: {{ earningsForm.endDate }}
          <input style="font-size: 1vw;" class="btn btn-dark" type="submit" value="Apply">
        </form>
      </div>
      <div style="font-size: 1.1vw;">Revenue from {{ tfLabels[0] }} to {{tfLabels[(tfLabels|length) - 1]}}:  
        £{{ "%.2f" | format(timeFrameEarnings) }}
      </div>
      <canvas style="padding-left: 0.1vw; max-width: 65vw; max-height: 30vw;" id="tfLineGraph" width="1300" height="650"></canvas>
      <div style="padding-top: 2.5vw"></div>
    </div>


    <script>

      // totals line chart data
      var lineData = {
        labels : [
          {% for item in totalLabels %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
	          {% for item in totalValues %}
              {{ item }},
            {% endfor %}]
          }
	      ]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get line chart canvas
      var mychart = document.getElementById("totalLineGraph").getContext("2d");

      steps = 10
      max = {{ totalMax }}
      // draw line chart
      var LineChartDemo = new Chart(mychart).Line(lineData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });

    </script>

    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in ticketLabels %}
          "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        data : [
          {% for item in ticketValues %}
            "{{ item }}",
          {% endfor %}
        ]
        }
        ]
      }

      // get bar chart canvas
      var mychart = document.getElementById("ticketsBarGraph").getContext("2d");

      steps = 10
      max = {{ticketMax}}

      // draw bar chart
      new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
      }
      );

    </script>

    <script>

      // tf line chart data
      var lineData = {
        labels : [
          {% for item in tfLabels %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
	          {% for item in tfValues %}
              {{ item }},
            {% endfor %}]
          }
	      ]
      }

      Chart.defaults.global.animationSteps = 50;
      Chart.defaults.global.tooltipYPadding = 16;
      Chart.defaults.global.tooltipCornerRadius = 0;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 16;

      // get line chart canvas
      var mychart = document.getElementById("tfLineGraph").getContext("2d");

      steps = 10
      max = {{ tfMax }}
      // draw line chart
      var LineChartDemo = new Chart(mychart).Line(lineData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });

    </script>
  
    <script>
      $(document).ready(function(){
        var date_input=$('input[name="endDate"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
          format: 'dd/mm/yyyy',
          weekStart: 1,
          container: container,
          todayBtn: "linked",
          todayHighlight: true,
          autoclose: true,
        };
        date_input.datepicker(options);
      })
    </script>

    <script>
      $(document).ready(function(){
        var date_input=$('input[name="startDate"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
          format: 'dd/mm/yyyy',
          weekStart: 1,
          container: container,
          todayBtn: "linked",
          todayHighlight: true,
          autoclose: true,
        };
        date_input.datepicker(options);
      })
    </script>
  </body>
{% endblock %}