{% extends "base.html" %}
{% block content %}
<div
  class="p-5 text-center bg-image"
  style="
    background-image: url('https://www.teahub.io/photos/full/40-407463_john-hopkins-mascot-black-and-white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
  "
>
<div class="container" style=" background-color: #343a40; width:30%; opacity:0.98; height:80%">

      <form method="POST" action="" style="opacity:1">
        {{ form.hidden_tag() }}

        <h2 align="center" style="color:#f1d618; padding: 20px 20px 0px 20px"><b>LOG IN</b></h2>
        <hr style="border:1px solid #f1d618">

        <div align="left" style="color:#f1d618; padding: 5px 10px">Email</div>
        <div align="center"> {{ form.email(size=30)}}</div>
        {% for error in form.email.errors %}
        [{{ error }}]
        {% endfor %}

        <div align="left" style="color:#f1d618; padding: 5px 10px">Password</div>
        <div  align="center">{{ form.password(size=30)}}</div>
        {% for error in form.password.errors %}
        [{{ error }}]
        {% endfor %}

        <button align="center" class="btn btn-lg btn-block" type="submit" style="border-radius: 20px; width:80%; margin-left:auto; margin-right:auto; margin-top:15px; background-color:#f1d618; color:343a40"><b>Login<b/></button>
        <p align="center" style="color:#f1d618; padding: 5px 10px 30px;">Don't have an account?<a class="nav-link" href="/signup" style="color:#ffffff;display:inline-block">Sign Up</a></p>
      </form>
      </div>

{% endblock %}
